<html>
  <head><title>My Uploader</title></head>
  <body>

<?php
include "mongo.php";

if( $_FILES["f"] ) {
  $m = new Mongo();
  $m->selectDB( "phpsite" )->getGridFS()->storeUpload( "f" );
  echo "Saved " . $_FILES["f"]["name"] . "\n";
}
?>

    <form method="POST" enctype="multipart/form-data">
       Filename: <input type="file" name="f"><br />
       <input type="submit" value="upload" />
    </form>

  </body>
</html>