<html>
  <head><title>My Uploader</title></head>
  <body>

<center>

<br /><br />    <form action="upload.php" method="POST" enctype="multipart/form-data">
       Email Address: <input type="text" name ="email"><br /><br />
       <input type="submit" value="Submit Email" />
    </form>

</center>

  </body>
</html>