<html>

<head>
<title>Core Assess</title>
</head>
<body>
<center>
<h1>Core Assess App</h1>
<br>


<% require 'sinatra' %>


<form action="/mono" method="post">
Enter your email address to receive updates:
<input type="text" name="email" size="20" />
<input type="submit" value="Find" />

</form>
</center>